# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environnement
.env

# Data (fichiers lourds)
*.parquet
*.csv
data/*.parquet

# Modèles (si trop lourds pour Git)
#models/*.joblib
models/*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/